<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12 Signup-form">
        <h3>Create your new account</h3>
        <form [formGroup]="form" (ngSubmit)="submit()">
          <div class="form-group">
            <input
              type="text"
              formControlName="name"
              id="name"
              class="form-control"
              placeholder="Enter your Name"
              #nameInput
            />
          </div>
          <div class="form-group">
            <input
              type="email"
              formControlName="email"
              id="email"
              class="form-control"
              placeholder="Enter your Email"
              required
              #emailInput
            />
          </div>
          <div class="form-group">
            <input
              type="password"
              formControlName="password"
              id="password"
              class="form-control"
              placeholder="Enter your Password"
              #passwordInput
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              formControlName="country"
              id="Country"
              class="form-control"
              placeholder="Enter your Country"
              #countryInput
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              formControlName="city"
              id="City"
              class="form-control"
              placeholder="Enter your City"
              #cityInput
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              formControlName="address"
              id="Address"
              class="form-control"
              placeholder="Enter your Address"
              #addressInput
            />
          </div>
          <div class="form-group">
            <label for="dateOfBirth">Date of Birth:</label>
            <input
              type="date"
              formControlName="dateofbirth"
              id="dateOfBirth"
              name="dateOfBirth"
              class="form-control"
              placeholder="Select your date of birth"
              #dateOfBirthInput
            />
          </div>
          <div class="form-group">
            <input
              type="tel"
              formControlName="phone"
              id="phoneNumber"
              name="phoneNumber"
              class="form-control"
              placeholder="Enter your phone number"
              #phoneNumberInput
            />
          </div>
          <button
            class="btn btn-primary"
            (click)="
              Check(nameInput.value, emailInput.value, passwordInput.value, 
              countryInput.value,cityInput.value,addressInput.value,
              dateOfBirthInput.value,phoneNumberInput.value)
            "
          >
            Sign up
          </button>
          <div class="alert alert-danger" role="alert" *ngIf="alert === false">
            Please fill all the fields
          </div>
        </form>
        <p
          class="text-center fs-3"
          [ngClass]="
            isAccountCreated ? 'text-success pb-1' : 'text-danger pb-1'
          "
        >
          {{ Message }}
        </p>
      </div>
    </div>
  </div>
</body>
