<app-header></app-header>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div
        class="modal"
        id="addUserModal"
        tabindex="-1"
        role="document"
        aria-labelledby="addUserModalLabel"
        aria-hidden="true"
      >
      
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button
                type="button"
                class="close p-2 mt-1"
                data-bs-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title" id="addUserModalLabel">Edit User</h4>
            </div>
            <div class="modal-body">
              <form [formGroup]="form" (ngSubmit)="submit()">
                <div class="form-group">
                  <label for="name">Name</label>
                  <input
                    type="text"
                    formControlName="name"
                    id="name"
                    class="form-control"
                    value="{{ username }}"
                    #nameInput
                  />
                </div>
                <div class="form-group">
                  <label for="email">Email</label>
                  <input
                    type="text"
                    formControlName="email"
                    id="email"
                    class="form-control"
                    value="{{ email }}"
                    #emailInput
                  />
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <input
                    type="text"
                    formControlName="password"
                    id="password"
                    class="form-control"
                    placeholder="Edit your Password"
                    #passwordInput
                  />
                </div>
                <div class="form-group">
                  <label for="country">Country</label>
                  <input
                    type="text"
                    formControlName="country"
                    id="Country"
                    class="form-control"
                    value="{{ country }}"
                    #countryInput
                  />
                </div>
                <div class="form-group">
                  <label for="city">City</label>
                  <input
                    type="text"
                    formControlName="city"
                    id="City"
                    class="form-control"
                    value="{{ city }}"
                    #cityInput
                  />
                </div>
                <div class="form-group">
                  <label for="address">Address</label>
                  <input
                    type="text"
                    formControlName="address"
                    id="address"
                    class="form-control"
                    value="{{ address }}"
                    #addressInput
                  />
                </div>
                <div class="form-group">
                  <label for="dateOfBirth">Date of Birth</label>
                  <input
                    type="date"
                    formControlName="dateofbirth"
                    id="dateOfBirth"
                    name="dateOfBirth"
                    class="form-control"
                    #dateOfBirthInput
                  />
                </div>
                <div class="form-group">
                  <label for="phone">Phone</label>
                  <input
                    type="tel"
                    formControlName="phone"
                    id="phoneNumber"
                    name="phoneNumber"
                    class="form-control"
                    value="{{ phone }}"
                    #phoneNumberInput
                  />
                </div>
                <br />
                <br />
                <div class="button-container">
                  <button
                    type="submit"
                    class="btn btn-success"
                    (click)="Check()"
                  >
                    Edit Data
                  </button>
                </div>
              </form>
              <p
                class="text-center fs-3"
                [ngClass]="
                  isAccountCreated ? 'text-success pb-1' : 'text-danger pb-1'
                "
              >
                {{ Message }}
              </p>
            </div>
          </div>
        </div>
      </div>
      <br />
      <br />
      <br />
      <div class="table-responsive">
        <table class="table table-bordered text text-center custom-table">
          <thead>
            <tr colspan="2">
              <td><b>Customer Name</b></td>
              <td><b>Category Email</b></td>
              <td><b>Country</b></td>
              <td><b>City</b></td>
              <td><b>Address</b></td>
              <td><b>Customer Number</b></td>
            </tr>
          </thead>
        <tbody *ngIf="customers.length > 0">
          <tr
            *ngFor="let customer of customers"
            (click)="openEditModal(customer)"
            data-bs-toggle="modal"
            data-bs-target="#addUserModal"
          >
            <td>{{ customer.name }}</td>
            <td>{{ customer.email }}</td>
            <td>{{ customer.country }}</td>
            <td>{{ customer.city }}</td>
            <td>{{ customer.address }}</td>
            <td>{{ customer.phone }}</td>
          </tr>
        </tbody>
        <tbody *ngIf="customers.length === 0">
          <tr>
            <td colspan="6" class="text-center">No users found</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>
