<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <title>Modern Login Page | AsmrProg</title>
</head>

<body>

    <div class="container" [ngClass]="{'active': !showSignIn}">
        <div class="form-container sign-up" >
          <form >
            <div class="form-group">
              <input
                type="text"
                formControlName="name"
                id="name"
                class="form-control"
                placeholder="Enter your Name"
                #nameInput
              />
            </div>
            <div class="form-group">
              <input
                type="email"
                formControlName="email"
                id="email"
                class="form-control"
                placeholder="Enter your Email"
                required
                #emailInput
              />
            </div>
            <div class="form-group">
              <input
                type="password"
                formControlName="password"
                id="password"
                class="form-control"
                placeholder="Enter your Password"
                #passwordInput
              />
            </div>
            <div class="form-group">
              <input
                type="text"
                formControlName="country"
                id="Country"
                class="form-control"
                placeholder="Enter your Country"
                #countryInput
              />
            </div>
            <div class="form-group">
              <input
                type="text"
                formControlName="city"
                id="City"
                class="form-control"
                placeholder="Enter your City"
                #cityInput
              />
            </div>
            <div class="form-group">
              <input
                type="text"
                formControlName="address"
                id="Address"
                class="form-control"
                placeholder="Enter your Address"
                #addressInput
              />
            </div>
            <div class="form-group">
              <label for="dateOfBirth">Date of Birth:</label>
              <input
                type="date"
                formControlName="dateofbirth"
                id="dateOfBirth"
                name="dateOfBirth"
                class="form-control"
                placeholder="Select your date of birth"
                #dateOfBirthInput
              />
            </div>
            <div class="form-group">
              <input
                type="tel"
                formControlName="phone"
                id="phoneNumber"
                name="phoneNumber"
                class="form-control"
                placeholder="Enter your phone number"
                #phoneNumberInput
              />
            </div>
            <button
              class="btn btn-primary"
            
            >
              Sign up
            </button>
            <div class="alert alert-danger" role="alert" >
              Please fill all the fields
            </div>
          </form>
        </div>
        <div class="form-container sign-in">
            <form>
                <h1>Sign In</h1>
                <div class="social-icons">
                    <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
                </div>
                <span>or use your email password</span>
                <input type="email" placeholder="Email">
                <input type="password" placeholder="Password">
                <a href="#">Forget Your Password?</a>
                <button>Sign In</button>
            </form>
        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>Welcome Back!</h1>
                    <p>Enter your personal details to use all of site features</p>
                    <button class="visible" (click)="toggleForm()" id="login">Sign In</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>Hello, Friend!</h1>
                    <p>Register with your personal details to use all of site features</p>
                    <button class="visible" (click)="toggleForm()" id="register">Sign Up</button>
                </div>
            </div>
        </div>
    </div>

</body>

</html>