<app-header></app-header>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h3 class="text text-center">These Are Our Products!</h3>
      <br />
      <app-add-product (productsListChanged)="updateProductsList($event)"></app-add-product>
      <br />
      <div class="table-responsive">
        <table class="table table-bordered text text-center custom-table">
          <thead>
            <tr colspan="4">
              <td><b>Product Name</b></td>
              <td><b>Product Quantity</b></td>
              <td><b>Product Price</b></td>
              <td><b>Product Description</b></td>
              <td><b>Product's Category ID</b></td>
              <td>
                <b> <u>Modify Product</u></b>
              </td>
            </tr>
          </thead>
          <tbody *ngIf="products.length > 0">
            <tr *ngFor="let product of products">
              <td>{{ product.name }}</td>
              <td>{{ product.quantity }}</td>
              <td>{{ product.price }}</td>
              <td>{{ product.description }}</td>
              <td>{{ product.categoryId }}</td>
              <td class="d-flex justify-content-center">
                <div class="px-2">
                  <button
                    class="btn fa fa-edit"
                    title="Modify Product"
                    (click)="openEditModal(product)"
                    data-bs-toggle="modal"
                    data-bs-target="#EditProduct"
                  ></button>
                </div>
                <div class="px-2">
                  <button
                    type="button"
                    class="btn fa fa-trash"
                    title="Delete Product"
                    (click)="deleteProduct(product.productId)"
                  ></button>
                </div>
              </td>
            </tr>
          </tbody>
          <tbody *ngIf="products.length === 0">
            <tr>
              <td colspan="6" class="text-center">No Products found</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div
  class="modal"
  id="EditProduct"
  tabindex="-1"
  role="dialog"
  aria-labelledby="EditProductLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close p-2 mt-1"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="EditProductLabel" >Edit Product</h4>
      </div>
      <div class="modal-body">
        <form [formGroup]="form" (ngSubmit)="editForm()" >
          <div class="form-group">
            <label for="name">Name</label>
            <input
              type="text"
              formControlName="name"
              id="name"
              class="form-control"
              value="{{productName}}"
              placeholder="Please enter a Product Name"
              #nameInput
            />
          </div>
          <div class="form-group">
            <label for="quantity">Quantity</label>
            <input
              type="text"
              id="quantity"
              formControlName="quantity"
              class="form-control"
              placeholder="Please enter the Quantity"
              #quantityInput
            />
          </div>
          <div class="form-group">
            <label for="price">Price</label>
            <input
              type="text"
              id="price"
              class="form-control"
              formControlName="price"
              placeholder="Please enter the Price"
              #priceInput
            />
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <input
              type="text"
              id="description"
              class="form-control"
              formControlName="description"
              placeholder="Give the product some Description"
              #descriptionInput
            />
          </div>
          <div class="form-group">
          <label for="Category">Choose Category</label>
          <div class="custom-select">
            <select
              id="categoryName"
              class="form-control mr-3"
              name="categoryName"
              formControlName="categoryName"
            
            >
            <option class="d-none"></option>
              <ng-container *ngFor="let category of Categories">
                <ng-container >
                  <option [value]="category.categoryName">
                    {{ category.categoryName }}
                  </option>
                </ng-container>
              </ng-container>
       
            </select>
          </div>
        </div>
          <div class="form-group">
            <label for="photo">Photo</label>
            <input
              type="file"
              (change)="onFileChange($event)"
              name="photo"
              id="photo"
              class="form-control"
              accept="image/*"
              #myFileInput
              
            />
          </div>

          <br />
          <br />
          <div class="button-container d-flex justify-content-end">
            <button
              type="submit"
              class="btn btn-success"
              (click)="
                Check(
                  descriptionInput.value,
                  nameInput.value,
                  priceInput.value,
                  quantityInput.value
                )
              "
            >
              Edit Product
            </button>
          </div>
        </form>
        <br>
        <br>
        <p
          class="text-center fs-3"
          [ngClass]="
            isAccountCreated ? 'text-success pb-1' : 'text-danger pb-1'
          "
        >
          {{ Message }}
        </p>
      </div>
    </div>
  </div>
</div>
