<nav
  class="navbar navbar-expand-lg navbar-light"
  style="background-color: #e3f2fd"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Welcome Admin</a>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li>
          <a routerLink="/Homepage" routerLinkActive="active">Search Page</a>
        </li>
        <li>
          <a routerLink="/addUser" routerLinkActive="active">Add User</a>
        </li>
        <li>
          <a routerLink="/editUser" routerLinkActive="active">Edit User</a>
        </li>
        <li>
          <a routerLink="/ShowProduts" routerLinkActive="active">Products</a>
        </li>
        <li>
          <a routerLink="/showCategory">Categories</a>
        </li>
        <li>
          <a routerLink="/Admin-Login">Log Out</a>
        </li>
        <!-- <li>
          <a routerLink="/addOrder">Orders</a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>
